@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.head_bar__title {
  font-family: 'Grand Hotel', cursive;
  margin: 0px;
  color: white;
  font-size: 40px;
  padding-left: 5%;
}

header {
  margin: 0px;
  padding: 0px;
}
.input_section {
  border-radius: 10px;
  background-color: black;
  padding: 5%;
}
.form_input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body {
  background-color: #151515;
  color: white;
  margin: 0%;
  padding: 0%;
}
.input {
  display: flex;
  gap: 25px;
}
.search_section {
  border-radius: 10px;
  background-color: black;
  padding: 5%;
}
.book_info {
  display: flex;
  padding: 2%;
  gap: 50px;
  justify-content: center;
}

.book_shelf {
  border-radius: 10px;
  background-color: black;
  padding: 5%;
}

main {
  display: flex;
  padding: 5%;
  gap: 50px;
  justify-content: center;
  flex-direction: column;
}
