@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&family=Spectral:wght@300&display=swap');

h2 {
  font-family: 'Spectral', serif;
  font-size: 23px;
  text-decoration: underline;
}
button {
  background-color: blanchedalmond;
  border-radius: 10px;
  padding: 1%;
}
body {
  background-color: #f5eddc;
  margin-left: 25%;
  margin-right: 25%;
  font-family: 'Bebas Neue', cursive;
}
header {
  font-family: 'Grand Hotel', cursive;
  font-size: 25px;
}
main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.images_book {
  float: left;
  width: 50%;
  padding-right: 5%;
}

.input_section {
  float: right;
  background-color: #d7c0ae;
  border-radius: 10px;
  padding: 5%;
}

.input {
  display: flex;
  flex-direction: column;
}

.search_section {
  background-color: #d7c0ae;
  border-radius: 10px;
  padding: 5%;
}
#searchBook {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book_info {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 5%;
}
.book_shelf {
  background-color: #d7c0ae;
  border-radius: 10px;
  padding: 5%;
}
footer {
  font-family: 'Spectral', serif;
  font-weight: 600;
}

#aneh {
  width: 1vw;
  height: fit-content;
}
